Repository Snowfork/snowbridge: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, rust

codecov.yml:

coverage:
  status:
    project: off
    patch: off
github_checks:
    annotations: false
ignore:
  - "core/packages/contracts/test/mocks"
  - "core/packages/contracts/src/utils"
  - "core/packages/contracts/src/ScaleCodec.sol"
  - "core/packages/contracts/src/SubstrateTypes.sol"
  - "parachain/tools"
  - "parachain/pallets/ethereum-beacon-client/src/benchmarking"
  - "parachain/pallets/ethereum-beacon-client/src/weights.rs"
  - "core/packages/contracts/src/DeployScript.sol"
flags:
  solidity:
    paths:
      - core/packages/contracts
    carryforward: true
  rust:
    paths:
      - parachain
    carryforward: true

Use local pnpm store
  web/.gitignore
  web/.npmrc
Due: none

Fix rustfmt toolchain version
  hooks/pre-commit
Due: none

Add troubleshooting note about pnpm store
  README.md
Due: none

Remove old nvmrc
  web/.nvmrc
Due: none

Build contracts before relayer
  web/packages/test/scripts/build-binary.sh
Due: none

Format files with pre-commit hook
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/beacon/src/receipt.rs
  parachain/primitives/core/src/outbound.rs
  parachain/primitives/ethereum/src/header.rs
  parachain/primitives/router/src/inbound/mod.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Add postcheckout hook to keep submodules updated
  hooks/post-checkout
Due: none

Update obsolete comment in BeefyClient.sol
  contracts/src/BeefyClient.sol
Due: none

Remove obsolete comment in BeefyClient.sol (#922)
  contracts/src/BeefyClient.sol
Due: none

Add smoke tests for xcm based control extrinsic
  smoketest/Cargo.toml
  smoketest/src/constants.rs
  smoketest/src/helper.rs
  smoketest/src/lib.rs
  smoketest/src/xcm.rs
  smoketest/tests/create_agent.rs
  smoketest/tests/create_channel.rs
  smoketest/tests/register_token.rs
  smoketest/tests/send_token.rs
  smoketest/tests/transfer_native_from_agent.rs
  web/packages/test/config/launch-config.toml
  web/packages/test/scripts/deploy-ethereum.sh
Due: none

Explicit rust nightly version
  hooks/pre-commit
Due: none

Scripts and tests for set_operation_mode
  contracts/src/Gateway.sol
  web/packages/test/scripts/set_operating_mode.sh
  web/packages/test/scripts/xcm-helper.sh
Due: none

Revert "Format files with pre-commit hook"
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/beacon/src/receipt.rs
  parachain/primitives/core/src/outbound.rs
  parachain/primitives/ethereum/src/header.rs
  parachain/primitives/router/src/inbound/mod.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Revert "Fix rustfmt toolchain version"
  hooks/pre-commit
Due: none

Fix parachain build in proxy-contracts branch (#889)
  README.md
  parachain/pallets/ethereum-beacon-client/src/mock.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/test.rs
Due: rust

Proxy contracts Tests fixes (#892)
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/outbound-queue/src/api.rs
Due: rust

sno-472 rebased (#890)
  parachain/pallets/ethereum-beacon-client/src/mock.rs
  parachain/pallets/outbound-queue/src/test.rs
Due: rust

Improve contracts
  core/packages/contracts/src/interfaces/IERC20.sol
Due: solidity

More improvements to contracts
  contracts/src/interfaces/IGateway.sol
  core/packages/contracts/src/Assets.sol
Due: solidity

Cleanup.
  parachain/pallets/ethereum-beacon-client/fuzz/.gitignore
  parachain/pallets/ethereum-beacon-client/fuzz/Cargo.lock
  parachain/pallets/ethereum-beacon-client/fuzz/Cargo.toml
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_beacon.rs
  parachain/pallets/ethereum-beacon-client/src/fuzzing.rs
  parachain/primitives/beacon/src/types.rs
  parachain/primitives/beacon/src/updates.rs
Due: rust

Revert rustfmt (#896)
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/outbound-queue/src/api.rs
Due: rust

Rollback unnecessary changes.
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/primitives/beacon/Cargo.toml
Due: rust

Messy working version.
  parachain/Cargo.lock
  parachain/pallets/ethereum-beacon-client/Cargo.toml
  parachain/pallets/ethereum-beacon-client/src/fuzzing.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/types.rs
  parachain/primitives/beacon/Cargo.toml
  parachain/primitives/beacon/src/types.rs
  parachain/primitives/beacon/src/updates.rs
Due: rust

Create agent (#895)
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/weights.rs
Due: rust

Fix tests.
  parachain/Cargo.lock
  parachain/pallets/ethereum-beacon-client/Cargo.toml
Due: rust

improve API for sending tokens
  core/packages/contracts/src/Assets.sol
Due: solidity

More cleanup.
  parachain/pallets/ethereum-beacon-client/Cargo.toml
  parachain/pallets/ethereum-beacon-client/fuzz/Cargo.lock
  parachain/primitives/beacon/Cargo.toml
Due: rust

Cleanup whitespace.
  parachain/pallets/ethereum-beacon-client/src/types.rs
Due: rust

More fuzzing.
  parachain/pallets/ethereum-beacon-client/Cargo.toml
  parachain/pallets/ethereum-beacon-client/fuzz/Cargo.toml
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_compute_signing_root.rs
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_force_checkpoint.rs
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_submit.rs
Due: rust

Revert rebase oopsies.
  contracts/src/interfaces/IGateway.sol
  core/packages/contracts/src/Assets.sol
  core/packages/contracts/src/interfaces/IERC20.sol
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/weights.rs
  parachain/pallets/outbound-queue/src/lib.rs
Due: solidity, rust

Fuzz the submit method.
  parachain/pallets/ethereum-beacon-client/fuzz/Cargo.lock
  parachain/pallets/ethereum-beacon-client/fuzz/Cargo.toml
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_beacon.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

More fuzzing.
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_force_checkpoint.rs
Due: rust

Remove unnecessary dependency.
  parachain/pallets/ethereum-beacon-client/Cargo.toml
Due: rust

Cleanup types.
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_force_checkpoint.rs
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_submit.rs
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_submit_execution_header.rs
  parachain/pallets/ethereum-beacon-client/fuzz/src/lib.rs
  parachain/pallets/ethereum-beacon-client/fuzz/src/types.rs
Due: rust

Last extrinsic.
  parachain/pallets/ethereum-beacon-client/fuzz/Cargo.toml
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_compute_signing_root.rs
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_force_checkpoint.rs
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_submit.rs
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_submit_execution_header.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

Call extrinsics directly. Adds readme.
  parachain/pallets/ethereum-beacon-client/fuzz/README.md
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_force_checkpoint.rs
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_submit.rs
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_submit_execution_header.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

Fix tests and feature issues.
  parachain/Cargo.lock
  parachain/pallets/ethereum-beacon-client/Cargo.toml
  parachain/pallets/ethereum-beacon-client/fuzz/Cargo.lock
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_force_checkpoint.rs
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_submit.rs
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_submit_execution_header.rs
  parachain/pallets/ethereum-beacon-client/src/fuzzing.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

More cleanup.
  parachain/pallets/ethereum-beacon-client/fuzz/fuzz_targets/fuzz_submit_execution_header.rs
  parachain/pallets/ethereum-beacon-client/fuzz/src/impls.rs
  parachain/pallets/ethereum-beacon-client/fuzz/src/lib.rs
  parachain/pallets/ethereum-beacon-client/fuzz/src/types.rs
Due: rust
