Repository Snowfork/snowbridge: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, rust

codecov.yml:

coverage:
  status:
    project: off
    patch: off
github_checks:
    annotations: false
ignore:
  - "core/packages/contracts/test/mocks"
  - "core/packages/contracts/src/utils"
  - "core/packages/contracts/src/ScaleCodec.sol"
  - "core/packages/contracts/src/SubstrateTypes.sol"
  - "parachain/tools"
  - "parachain/pallets/ethereum-beacon-client/src/benchmarking"
  - "parachain/pallets/ethereum-beacon-client/src/weights.rs"
  - "core/packages/contracts/src/DeployScript.sol"
flags:
  solidity:
    paths:
      - core/packages/contracts
    carryforward: true
  rust:
    paths:
      - parachain
    carryforward: true

New xcm format (#869)
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Add format into pre-commit hook
  .husky/pre-commit
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/merkle-tree/src/lib.rs
  parachain/pallets/outbound-queue/src/api.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/beacon/src/merkle_proof.rs
  parachain/primitives/beacon/src/receipt.rs
  parachain/primitives/beacon/src/serde_utils.rs
  parachain/primitives/ethereum/src/header.rs
  parachain/primitives/ethereum/src/receipt.rs
  parachain/primitives/router/src/inbound/mod.rs
  parachain/primitives/router/src/outbound/mod.rs
  parachain/primitives/testutils/src/lib.rs
  parachain/tools/call-index/src/main.rs
Due: solidity, rust

Beefy Commitment with static common prefix
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/data/beefy-commitment.json
  relayer/contracts/beefy_client.go
  relayer/relays/beefy/fixture-data-logger.go
  relayer/relays/beefy/parameters.go
Due: solidity

Start with inbound channel benchmarks.
  parachain/pallets/inbound-queue/src/benchmarking.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/lib.rs
Due: rust

Pass full commitment to BEEFY client
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/data/beefy-commitment.json
  relayer/contracts/beefy_client.go
  relayer/relays/beefy/fixture-data-logger.go
  relayer/relays/beefy/parameters.go
Due: solidity

Avoid storage for PayloadItem[]
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Extract payload id for MMR root
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Clean up some docstrings
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

Remove unnecessary variable
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Rename to payload for consistency
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Remove unnecessary error case
  relayer/relays/beefy/parameters.go
Due: none

Add method to set execution header storage for benchmark test.
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/benchmarking.rs
  parachain/primitives/core/Cargo.toml
  parachain/primitives/core/src/lib.rs
Due: rust

Check context for cancellation
  relayer/relays/beefy/polkadot-listener.go
Due: none

Update logging for commitments & proofs
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/fixture-data-logger.go
  relayer/relays/beefy/parameters.go
Due: none

Fix commitment mappings
  relayer/relays/beefy/parameters.go
Due: none

Remove null proofs
  relayer/relays/beefy/fixture-data-logger.go
Due: none

Update gas snapshot
  core/packages/contracts/.gas-snapshot
Due: solidity

Format Beefy client
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Working on benchmarks
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/benchmarking.rs
  parachain/pallets/inbound-queue/src/lib.rs
  relayer/chain/ethereum/message.go
  relayer/relays/beacon/header/header.go
Due: rust

first commit
  core/packages/contracts/src/Agent.sol
  core/packages/contracts/src/Auth.sol
  core/packages/contracts/src/EternalStorage.sol
  core/packages/contracts/src/Executor.sol
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/src/IExecutor.sol
  core/packages/contracts/src/IGateway.sol
  core/packages/contracts/src/OutboundQueue.sol
  core/packages/contracts/src/Registry.sol
  core/packages/contracts/src/RegistryLookup.sol
  core/packages/contracts/src/SovereignTreasury.sol
  core/packages/contracts/src/Types.sol
  core/packages/contracts/src/UpgradeProxy.sol
  core/packages/contracts/src/UpgradeTask.sol
  core/packages/contracts/src/Vault.sol
  core/packages/contracts/src/Withdraw.sol
  parachain/primitives/router/src/inbound/mod.rs
Due: solidity, rust

More logs for beefy commitment
  relayer/relays/beefy/polkadot-listener.go
Due: none

Improve upgrade from control
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/src/UpdateOutboundFee.sol
  core/packages/contracts/src/UpgradeProxy.sol
  core/packages/contracts/src/UpgradeTask.sol
  core/packages/contracts/test/UpgradeProxy.t.sol
  core/packages/contracts/test/mocks/UpgradeTaskMock.sol
  core/packages/test/config/launch-config.toml
  core/packages/test/scripts/update-outbound-fee.sh
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/lib.rs
Due: solidity, rust

Remove TODO
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

Fix for nix setup
  .husky/pre-commit
Due: none

Attempting to set storage directly
  parachain/Cargo.lock
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/inbound-queue/src/benchmarking.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/primitives/core/src/lib.rs
Due: rust

Ignore cargo fmt
  .husky/pre-commit
Due: none

INFO-4(code duplication)
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

INFO-3(Redundant & operation in set and isSet)
  core/packages/contracts/src/utils/Bitfield.sol
Due: none

INFO-2(Missing conditions)
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

INFO-1(refactor custom error)
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

More refactors
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/src/utils/Bitfield.sol
Due: solidity

INFO-5(Add comments&respect MAX_SEED_LOOKAHEAD)
  core/packages/contracts/src/BeefyClient.sol
  core/packages/test/.envrc-example
  core/packages/test/scripts/set-env.sh
Due: solidity

INFO-6 & INFO-9(optimization countSetBits)
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/src/utils/Bitfield.sol
Due: solidity

Fix for e2e
  core/packages/test/scripts/set-env.sh
Due: none

More refactor & sync snapshot with latest main
  core/packages/contracts/.gas-snapshot
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

Add format into pre-commit hook (#874)
  .husky/pre-commit
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/merkle-tree/src/lib.rs
  parachain/pallets/outbound-queue/src/api.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/beacon/src/merkle_proof.rs
  parachain/primitives/beacon/src/receipt.rs
  parachain/primitives/beacon/src/serde_utils.rs
  parachain/primitives/ethereum/src/header.rs
  parachain/primitives/ethereum/src/receipt.rs
  parachain/primitives/router/src/inbound/mod.rs
  parachain/primitives/router/src/outbound/mod.rs
  parachain/primitives/testutils/src/lib.rs
  parachain/tools/call-index/src/main.rs
Due: solidity, rust

Fiddling
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/types.rs
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/benchmarking.rs
Due: rust

extracted parameters
  core/packages/test/scripts/set-env.sh
  core/packages/test/scripts/start-relayer.sh
Due: none

extracted registry parameter
  core/packages/test/scripts/set-env.sh
Due: none

fund with 1000 roc
  core/packages/test/scripts/set-env.sh
  core/packages/test/scripts/start-relayer.sh
  core/packages/test/scripts/start-services.sh
  core/packages/test/scripts/xcm-helper.sh
Due: none
