Repository Snowfork/snowbridge: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, rust

codecov.yml:

coverage:
  status:
    project: off
    patch: off
github_checks:
    annotations: false
ignore:
  - "core/packages/contracts/test/mocks"
  - "core/packages/contracts/src/utils"
  - "core/packages/contracts/src/ScaleCodec.sol"
  - "core/packages/contracts/src/SubstrateTypes.sol"
  - "parachain/tools"
  - "parachain/pallets/ethereum-beacon-client/src/benchmarking"
  - "parachain/pallets/ethereum-beacon-client/src/weights.rs"
  - "core/packages/contracts/src/DeployScript.sol"
flags:
  solidity:
    paths:
      - core/packages/contracts
    carryforward: true
  rust:
    paths:
      - parachain
    carryforward: true

Start with inbound channel benchmarks.
  parachain/pallets/inbound-queue/src/benchmarking.rs
  parachain/pallets/inbound-queue/src/lib.rs
Due: rust

Removes cleanup.
  parachain/pallets/inbound-queue/src/benchmarking/fixtures.rs
  parachain/pallets/inbound-queue/src/test.rs
Due: rust

Cleanup
  parachain/pallets/inbound-queue/src/benchmarking.rs
  parachain/pallets/inbound-queue/src/benchmarking/fixtures.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/pallets/inbound-queue/src/lib.rs
Due: rust

Test transactions
  core/packages/test/config/genesis.json
  smoketest/tests/generate_transactions.rs
Due: none

Adds some comments for Alistair.
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
Due: rust

Revert relayer logs.
  relayer/chain/ethereum/message.go
  relayer/relays/beacon/header/header.go
Due: none

Cleanup BenchmarkHelper impl and inbound queue dependencies.
  parachain/Cargo.lock
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
Due: rust

Cleanup imports.
  parachain/pallets/inbound-queue/src/lib.rs
Due: rust

Touch
  README.md
Due: none

Cleanup imports.
  parachain/Cargo.lock
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/lib.rs
Due: rust

fmt
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/inbound-queue/src/benchmarking/fixtures.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/primitives/core/src/lib.rs
Due: rust

Adds weights in inbound queue pallet.
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/weights.rs
Due: rust

Fix tests.
  parachain/pallets/inbound-queue/src/test.rs
  parachain/pallets/inbound-queue/src/weights.rs
Due: rust

Update cumulus.
  README.md
Due: none

Spacing
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

Undo typo.
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

Inbound queue benchmarks (#876)
  parachain/Cargo.lock
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/types.rs
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/benchmarking.rs
  parachain/pallets/inbound-queue/src/benchmarking/fixtures.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/pallets/inbound-queue/src/weights.rs
  parachain/primitives/core/Cargo.toml
Due: rust

Replace inbound queue bindings with gateway
  relayer/contracts/gateway.go
  relayer/contracts/generate.go
  relayer/contracts/inbound_queue.go
Due: none

Minor updates.
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

Adds comment about IrrelevantUpdate.
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

Fix test
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
Due: rust

One more comment.
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

Update parachain relayer to use Gateway contract
  core/packages/test/config/parachain-relay.json
  core/packages/test/scripts/start-relayer.sh
  relayer/relays/parachain/config.go
  relayer/relays/parachain/ethereum-writer.go
  relayer/relays/parachain/logger.go
  relayer/relays/parachain/scanner.go
  relayer/relays/parachain/types.go
Due: none

Rename unused param
  relayer/relays/parachain/scanner.go
Due: none

Update comment description
  relayer/relays/parachain/scanner.go
Due: none

Use GatewayProxy address in parachain relayers
  core/packages/test/scripts/start-relayer.sh
Due: none

Update error name.
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

Fix parachain build
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/ethereum-beacon-client/src/mock.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/test.rs
  parachain/primitives/core/src/lib.rs
Due: rust

Move BalanceOf outside of pallet
  parachain/pallets/inbound-queue/src/lib.rs
Due: rust

More improvements to contracts
  core/packages/contracts/.solhint.json
  core/packages/contracts/src/Agent.sol
  core/packages/contracts/src/AgentExecutor.sol
  core/packages/contracts/src/Assets.sol
  core/packages/contracts/src/DeployScript.sol
  core/packages/contracts/src/Features.sol
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/src/SubstrateTypes.sol
  core/packages/contracts/src/Types.sol
  core/packages/contracts/src/Verification.sol
  core/packages/contracts/src/interfaces/IGateway.sol
  core/packages/contracts/src/storage/AssetsStorage.sol
  core/packages/contracts/src/storage/CoreStorage.sol
  core/packages/contracts/src/storage/FeaturesStorage.sol
  core/packages/contracts/src/utils/Call.sol
  core/packages/contracts/test/Agent.t.sol
  core/packages/contracts/test/Gateway.t.sol
  core/packages/contracts/test/Verification.t.sol
  core/packages/contracts/test/mocks/AgentExecutorMock.sol
  core/packages/contracts/test/mocks/GatewayMock.sol
  core/packages/contracts/test/mocks/VerificationWrapper.sol
  core/packages/test/scripts/set-env.sh
Due: solidity

downgrade cargo.lock to match cumulus
  parachain/Cargo.lock
Due: rust

fix benchmarks
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
Due: rust

remove benchmark for non existing method
  parachain/pallets/control/src/benchmarking.rs
Due: rust

Clara/sno 552 (#887)
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

Halting & resuming bridge pallets (#883)
  core/packages/test/.envrc-example
  core/packages/test/.gitignore
  core/packages/test/scripts/configure-bridgehub.sh
  core/packages/test/scripts/set-env.sh
  core/packages/test/scripts/xcm-helper.sh
  parachain/Cargo.lock
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/lib.rs
  parachain/pallets/ethereum-beacon-client/Cargo.toml
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/pallets/outbound-queue/Cargo.toml
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/core/src/lib.rs
Due: rust

Fix parachain build in proxy-contracts branch (#889)
  .envrc-example
  .github/workflows/ethereum.yml
  README.md
  core/package.json
  core/packages/test/.envrc-example
  core/packages/test/scripts/build-binary.sh
  flake.lock
  flake.nix
  parachain/Cargo.lock
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/ethereum-beacon-client/Cargo.toml
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/mock.rs
  parachain/pallets/ethereum-beacon-client/src/types.rs
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/benchmarking.rs
  parachain/pallets/inbound-queue/src/benchmarking/fixtures.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/pallets/inbound-queue/src/weights.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/test.rs
  parachain/primitives/beacon/Cargo.toml
  parachain/primitives/beacon/src/ssz.rs
  parachain/primitives/beacon/src/types.rs
  parachain/primitives/core/Cargo.toml
  parachain/primitives/core/src/lib.rs
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/main.go
  relayer/relays/beefy/polkadot-listener.go
Due: rust

modified pre-commit
  .husky/pre-commit
Due: none

fixes
  .husky/pre-commit
Due: none

testing
  .husky/pre-commit
Due: none
