Repository Snowfork/snowbridge: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, rust

codecov.yml:

coverage:
  status:
    project: off
    patch: off
github_checks:
    annotations: false
ignore:
  - "core/packages/contracts/test/mocks"
  - "core/packages/contracts/src/utils"
  - "core/packages/contracts/src/ScaleCodec.sol"
  - "core/packages/contracts/src/SubstrateTypes.sol"
  - "parachain/tools"
  - "parachain/pallets/ethereum-beacon-client/src/benchmarking"
  - "parachain/pallets/ethereum-beacon-client/src/weights.rs"
  - "core/packages/contracts/src/DeployScript.sol"
flags:
  solidity:
    paths:
      - core/packages/contracts
    carryforward: true
  rust:
    paths:
      - parachain
    carryforward: true

Add comments about zero-value tickets
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Move helpers back
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

Fix handover stale commitment test
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/mocks/BeefyClientMock.sol
Due: solidity

fix encoding
  parachain/primitives/core/src/lib.rs
Due: rust

fix tests
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/test/Gateway.t.sol
Due: solidity

rustfmt
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/tests.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/primitives/core/src/lib.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

remove duplicate enum
  core/packages/contracts/src/AgentExecutor.sol
Due: solidity

generate bindings
  parachain/primitives/core/src/lib.rs
  relayer/contracts/beefy_client.go
  relayer/contracts/gateway.go
  relayer/relays/execution/main.go
Due: rust

Clean dependencies
  core/packages/api/package.json
  core/packages/api/src/index.ts
  core/packages/api/tsconfig.json
  core/packages/contract-types/package.json
  core/packages/contracts/.solcover.js
  core/packages/contracts/.solhint.json
  core/packages/contracts/.solhintignore
  core/packages/contracts/package.json
  core/packages/contracts/src/utils/Bitfield.sol
  core/packages/test-helpers/package.json
  core/packages/test-helpers/tsconfig.json
  core/pnpm-lock.yaml
Due: solidity

remove tuple
  parachain/primitives/core/src/lib.rs
Due: rust

use framebenchmarking v2
  parachain/pallets/control/src/mock.rs
Due: rust

SNO-517: Check validator set size in submitFinal (#903)
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/mocks/BeefyClientMock.sol
Due: solidity

Asset transfer (#904)
  core/packages/contracts/src/AgentExecutor.sol
  core/packages/contracts/src/Assets.sol
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/src/Types.sol
  core/packages/contracts/test/Gateway.t.sol
  core/packages/test/scripts/configure-bridgehub.sh
  core/packages/test/scripts/set-env.sh
  parachain/Cargo.lock
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/control/src/tests.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/primitives/core/src/lib.rs
  parachain/primitives/router/Cargo.toml
  parachain/primitives/router/src/inbound/mod.rs
  parachain/primitives/router/src/outbound/mod.rs
  relayer/contracts/beefy_client.go
  relayer/contracts/gateway.go
  relayer/relays/execution/main.go
  smoketest/tests/register_token.rs
  smoketest/tests/send_tokens.rs
Due: solidity, rust

More cleanup
  core/packages/contract-types/package.json
  core/packages/contract-types/tsconfig.json
  core/packages/contracts/.gitignore
  core/packages/contracts/package.json
  core/pnpm-lock.yaml
Due: solidity

Fix ci
  .github/workflows/ethereum.yml
  core/packages/api/src/index.ts
  core/packages/contract-types/package.json
  core/packages/contracts/package.json
Due: solidity

Refactor snowbridge-core crate
  core/packages/contracts/src/Verification.sol
  core/packages/contracts/src/interfaces/IGateway.sol
  core/packages/contracts/src/storage/CoreStorage.sol
  core/packages/contracts/src/utils/ERC1967.sol
  parachain/Cargo.lock
  parachain/Cargo.toml
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/ethereum-beacon-client/Cargo.toml
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/inbound-queue/src/benchmarking/fixtures.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/pallets/outbound-queue/src/benchmarking.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/test.rs
  parachain/primitives/core/src/inbound.rs
  parachain/primitives/core/src/lib.rs
  parachain/primitives/core/src/outbound.rs
  parachain/primitives/ethereum/Cargo.toml
  parachain/primitives/router/src/outbound/mod.rs
  parachain/primitives/testutils/Cargo.toml
  parachain/primitives/testutils/src/lib.rs
Due: solidity, rust

Add more comments
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/tests.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/core/src/lib.rs
Due: rust

Add final newline
  parachain/primitives/core/src/lib.rs
Due: rust

Add more documentation in contracts (#908)
  core/packages/contracts/src/Agent.sol
  core/packages/contracts/src/AgentExecutor.sol
  core/packages/contracts/src/Assets.sol
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/src/GatewayProxy.sol
  core/packages/contracts/src/Types.sol
  core/packages/contracts/src/Verification.sol
  core/packages/contracts/src/interfaces/IGateway.sol
  core/packages/contracts/src/storage/CoreStorage.sol
  core/packages/contracts/src/utils/ERC1967.sol
  parachain/Cargo.lock
  parachain/Cargo.toml
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/control/src/tests.rs
  parachain/pallets/ethereum-beacon-client/Cargo.toml
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/inbound-queue/src/benchmarking/fixtures.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/pallets/outbound-queue/src/benchmarking.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/test.rs
  parachain/primitives/core/src/inbound.rs
  parachain/primitives/core/src/lib.rs
  parachain/primitives/core/src/outbound.rs
  parachain/primitives/ethereum/Cargo.toml
  parachain/primitives/router/src/outbound/mod.rs
  parachain/primitives/testutils/Cargo.toml
  parachain/primitives/testutils/src/lib.rs
Due: solidity, rust

remove submodules
  .gitmodules
  .husky/pre-commit
Due: none

foo
  contracts/.solhint.json
  contracts/.solhintignore
  contracts/package.json
Due: none

forge install: forge-std
  .gitmodules
Due: none

forge install: openzeppelin-contracts
  .gitmodules
Due: none

forge install: ds-test
  .gitmodules
Due: none

forge install: canonical-weth
  .gitmodules
Due: none

Move contracts dir
  .github/workflows/ethereum.yml
  .gitignore
  README.md
  _typos.toml
  codecov.yml
  core/init.sh
  core/packages/test-helpers/src/generateBeefyCheckpoint.ts
  core/packages/test-helpers/src/generateBeefyTestFixture.ts
  core/packages/test/scripts/set-env.sh
  core/pnpm-lock.yaml
  core/pnpm-workspace.yaml
  docs/architecture/apps/dot.md
  docs/architecture/apps/erc20.md
  docs/architecture/apps/ether.md
  docs/architecture/verification/polkadot/README.md
  docs/other/quick-start-guide.md
  relayer/README.md
  relayer/chain/ethereum/connection_test.go
  relayer/contracts/generate.go
  relayer/relays/beefy/ethereum-writer.go
  relayer/revive.toml
  smoketest/README.md
  smoketest/make-bindings.sh
  smoketest/tests/register_token.rs
  smoketest/tests/send_token.rs
Due: none

improve contract-types package
  core/packages/contract-types/.gitignore
  core/packages/contract-types/package.json
  core/packages/contract-types/tsconfig.json
Due: none

rename
  .github/workflows/contracts.yml
Due: none

foo
  contracts/src/Gateway.sol
  contracts/src/GatewayProxy.sol
  contracts/src/interfaces/IGateway.sol
  contracts/src/interfaces/IInitializable.sol
  contracts/src/utils/Address.sol
  contracts/test/Gateway.t.sol
Due: none

update docs
  contracts/src/interfaces/IInitializable.sol
Due: none

fixes
  parachain/pallets/ethereum-beacon-client/src/mock.rs
Due: rust

foo
  .husky/pre-commit
  flake.nix
  pre-commit.sh
  web/package.json
  web/packages/test/package.json
  web/pnpm-lock.yaml
Due: none

fix imports
  parachain/pallets/ethereum-beacon-client/src/mock.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

more tweaks to dev env
  README.md
  flake.nix
  scripts/init.sh
  scripts/pre-commit.sh
Due: none
