Repository Snowfork/snowbridge: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, rust

Bump nixpkgs to use its geth package
  core/package.json
  core/packages/test/scripts/build-binary.sh
  flake.lock
  flake.nix
Due: none

Upgrade ssz_rs crate. (#880)
  parachain/Cargo.lock
  parachain/pallets/ethereum-beacon-client/Cargo.toml
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/beacon/Cargo.toml
  parachain/primitives/beacon/src/ssz.rs
  parachain/primitives/beacon/src/types.rs
Due: rust

Use source config in PolkadotListener
  relayer/relays/beefy/main.go
  relayer/relays/beefy/polkadot-listener.go
Due: none

Match field order in struct def
  relayer/relays/beefy/main.go
Due: none

Move info log to relay creation
  relayer/relays/beefy/main.go
Due: none

Remove unused channel
  relayer/relays/beefy/main.go
Due: none

Add context to errors
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/main.go
  relayer/relays/beefy/polkadot-listener.go
Due: none

Add logs
  relayer/relays/beefy/ethereum-writer.go
Due: none

Whitespace
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/main.go
Due: none

Improve contracts
  core/packages/contracts/.solhint.json
  core/packages/contracts/src/Agent.sol
  core/packages/contracts/src/AgentExecutor.sol
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/src/DeployScript.sol
  core/packages/contracts/src/Features.sol
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/src/GatewayProxy.sol
  core/packages/contracts/src/IGateway.sol
  core/packages/contracts/src/Initializable.sol
  core/packages/contracts/src/Verification.sol
  core/packages/contracts/src/interfaces/IERC20.sol
  core/packages/contracts/src/storage/CoreStorage.sol
  core/packages/contracts/src/storage/InitializableStorage.sol
  core/packages/contracts/src/utils/Address.sol
  core/packages/contracts/src/utils/ERC1967.sol
  core/packages/contracts/src/utils/MerkleProof.sol
  core/packages/contracts/src/utils/SafeTransfer.sol
  core/packages/contracts/test/Gateway.t.sol
  core/packages/contracts/test/mocks/GatewayMock.sol
  core/packages/contracts/test/mocks/VerificationWrapper.sol
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: solidity, rust

Spacing
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

Bump node & pnpm in workflow
  .github/workflows/ethereum.yml
Due: none

Rename locals
  relayer/relays/beefy/ethereum-writer.go
Due: none

Remove unused variable
  relayer/relays/beefy/ethereum-writer.go
Due: none

Add Troubleshooting README section
  README.md
Due: none

Fix up .envrc-example files
  .envrc-example
  core/packages/test/.envrc-example
Due: none

Add note about pure shells
  README.md
Due: none

Bump nixpkgs to use its geth package (#885)
  .envrc-example
  .github/workflows/ethereum.yml
  README.md
  core/package.json
  core/packages/test/.envrc-example
  core/packages/test/scripts/build-binary.sh
  flake.lock
  flake.nix
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/main.go
  relayer/relays/beefy/polkadot-listener.go
Due: none

Update nix-direnv
  .envrc-example
Due: none

cargo update
  parachain/Cargo.lock
Due: rust

Update rust to 1.70.0
  flake.lock
  rust-toolchain.toml
Due: none

Add optimisation note
  core/packages/contracts/src/utils/Bitfield.sol
Due: none

Relax RANDAO_COMMIT_DELAY for local setup
  core/packages/test/scripts/set-env.sh
Due: none

Update contracts .envrc to enable overriding params
  core/packages/contracts/.envrc-example
  core/packages/test/scripts/set-env.sh
Due: solidity

WIP
  .husky/post-checkout
  README.md
  core/init.sh
  flake.nix
Due: none

Basic working version
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/benchmarking.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
Due: rust

Cleanup.
  core/packages/test/config/genesis.json
  parachain/pallets/inbound-queue/src/lib.rs
  smoketest/tests/generate_transactions.rs
Due: rust

Makes note
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
Due: rust

Fixes non-benchmark test runs.
  parachain/pallets/inbound-queue/src/test.rs
Due: rust

Clean up comments.
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
Due: rust

Add method to set execution header storage for benchmark test.
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/benchmarking.rs
  parachain/primitives/core/Cargo.toml
  parachain/primitives/core/src/lib.rs
Due: rust

Adds branch name.
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
Due: rust

Cleaning up beacon client deps.
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/types.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/primitives/core/src/lib.rs
Due: rust

Tests cleanup.
  parachain/Cargo.lock
  parachain/pallets/inbound-queue/src/benchmarking/fixtures.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/primitives/core/src/lib.rs
Due: rust

Update fixtures and generates benchmarks.
  parachain/pallets/inbound-queue/src/benchmarking/fixtures.rs
  parachain/pallets/inbound-queue/src/lib.rs
Due: rust

Working on benchmarks
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/benchmarking.rs
  parachain/pallets/inbound-queue/src/lib.rs
  relayer/chain/ethereum/message.go
  relayer/relays/beacon/header/header.go
Due: rust

Path conditions:
  solidity: any of: core/packages/contracts, but not: core/packages/contracts/test/mocks, core/packages/contracts/src/utils, core/packages/contracts/src/ScaleCodec.sol, core/packages/contracts/src/SubstrateTypes.sol, parachain/tools, parachain/pallets/ethereum-beacon-client/src/benchmarking, parachain/pallets/ethereum-beacon-client/src/weights.rs, core/packages/contracts/src/DeployScript.sol
  rust: any of: parachain, but not: core/packages/contracts/test/mocks, core/packages/contracts/src/utils, core/packages/contracts/src/ScaleCodec.sol, core/packages/contracts/src/SubstrateTypes.sol, parachain/tools, parachain/pallets/ethereum-beacon-client/src/benchmarking, parachain/pallets/ethereum-beacon-client/src/weights.rs, core/packages/contracts/src/DeployScript.sol
