Repository Snowfork/snowbridge: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, rust

codecov.yml:

coverage:
  status:
    project: off
    patch: off
github_checks:
    annotations: false
ignore:
  - "core/packages/contracts/test/mocks"
  - "core/packages/contracts/src/utils"
  - "core/packages/contracts/src/ScaleCodec.sol"
  - "core/packages/contracts/src/SubstrateTypes.sol"
  - "parachain/tools"
  - "parachain/pallets/ethereum-beacon-client/src/benchmarking"
  - "parachain/pallets/ethereum-beacon-client/src/weights.rs"
  - "core/packages/contracts/src/DeployScript.sol"
flags:
  solidity:
    paths:
      - core/packages/contracts
    carryforward: true
  rust:
    paths:
      - parachain
    carryforward: true

testing
  .husky/pre-commit
Due: none

Generate gateway bindings from Gateway interface
  relayer/contracts/gateway.go
  relayer/contracts/generate.go
Due: none

Remove OpaqueProof bindings
  relayer/contracts/generate.go
  relayer/contracts/opaque_proof.go
  relayer/relays/parachain/ethereum-writer.go
Due: none

Remove abiPacker attribute
  relayer/relays/parachain/ethereum-writer.go
Due: none

Update BeefyClient bindings
  relayer/contracts/beefy_client.go
Due: none

Fix Warnings
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/weights.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/lib.rs
Due: rust

Fix test
  parachain/pallets/inbound-queue/src/test.rs
Due: rust

Fix build & format
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Add placeholder agent ids for parachains
  core/packages/test/scripts/set-env.sh
Due: none

Fix benchmark test
  parachain/Cargo.lock
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/mock.rs
Due: rust

add more unit test coverage
  core/packages/contracts/foundry.toml
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/src/GatewayProxy.sol
  core/packages/contracts/src/SubstrateTypes.sol
  core/packages/contracts/src/Verification.sol
  core/packages/contracts/src/interfaces/IGateway.sol
  core/packages/contracts/src/utils/Bytes.sol
  core/packages/contracts/src/utils/MMRProof.sol
  core/packages/contracts/src/utils/Memory.sol
  core/packages/contracts/src/utils/ScaleCodec.sol
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/Gateway.t.sol
  core/packages/contracts/test/MMRProof.t.sol
  core/packages/contracts/test/ScaleCodec.t.sol
  core/packages/contracts/test/Verification.t.sol
  core/packages/contracts/test/archive/libs/bitfield.test.ts
  core/packages/contracts/test/archive/libs/data/mmr-fixture-data-7-leaves.json
  core/packages/contracts/test/archive/libs/mmr_proof.test.ts
  core/packages/contracts/test/data/mmr-fixture-data-15-leaves.json
  core/packages/contracts/test/mocks/MMRProofWrapper.sol
Due: solidity

Improve mmr proof test
  core/packages/contracts/test/MMRProof.t.sol
Due: solidity

rename contract
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/src/Verification.sol
  core/packages/contracts/src/utils/SubstrateMerkleProof.sol
Due: solidity

forge install: openzeppelin-contracts
  .gitmodules
Due: none

fix gitmodules
  .gitmodules
Due: none

Check for duplicate versions of substrate and polkadot (#891)
  .husky/pre-commit
Due: none

BasicChannelProofs -> MessageProofs
  relayer/relays/parachain/ethereum-writer.go
  relayer/relays/parachain/scanner.go
  relayer/relays/parachain/types.go
Due: none

LaneID -> ChannelID
  core/packages/test/config/parachain-relay.json
  core/packages/test/scripts/start-relayer.sh
  relayer/relays/parachain/config.go
  relayer/relays/parachain/scanner.go
Due: none

fixed tests
  core/packages/test/scripts/set-env.sh
  parachain/Cargo.lock
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/control/src/weights.rs
  parachain/pallets/ethereum-beacon-client/src/mock.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/test.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Format
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/lib.rs
Due: rust

Some fix
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
Due: rust

sno-472 rebased (#890)
  .husky/pre-commit
  core/packages/test/.envrc-example
  core/packages/test/.gitignore
  core/packages/test/scripts/configure-bridgehub.sh
  core/packages/test/scripts/set-env.sh
  core/packages/test/scripts/xcm-helper.sh
  parachain/Cargo.lock
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/control/src/weights.rs
  parachain/pallets/ethereum-beacon-client/Cargo.toml
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/mock.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/pallets/outbound-queue/Cargo.toml
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/test.rs
  parachain/primitives/core/src/lib.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Fix test
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
Due: rust

fixed tests
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
Due: rust

warnings and imports
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
Due: rust

rustfmt
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/outbound-queue/src/api.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Proxy contracts Tests fixes (#892)
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/outbound-queue/src/api.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Revert "rustfmt"
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/outbound-queue/src/api.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

reverted xcm-builder
  parachain/pallets/control/Cargo.toml
Due: rust

Revert rustfmt (#896)
  parachain/pallets/control/Cargo.toml
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/outbound-queue/src/api.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Mention default bridge pallet owner account
  core/packages/test/.envrc-example
Due: none

Adds tests.
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

More tests.
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

Adds tests.
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust
