Repository Snowfork/snowbridge: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, rust

codecov.yml:

coverage:
  status:
    project: off
    patch: off
github_checks:
    annotations: false
ignore:
  - "core/packages/contracts/test/mocks"
  - "core/packages/contracts/src/utils"
  - "core/packages/contracts/src/ScaleCodec.sol"
  - "core/packages/contracts/src/SubstrateTypes.sol"
  - "parachain/tools"
  - "parachain/pallets/ethereum-beacon-client/src/benchmarking"
  - "parachain/pallets/ethereum-beacon-client/src/weights.rs"
  - "core/packages/contracts/src/DeployScript.sol"
flags:
  solidity:
    paths:
      - core/packages/contracts
    carryforward: true
  rust:
    paths:
      - parachain
    carryforward: true

More tests.
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

Finish off tests.
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

SNO-565: Make parachain relayers use Gateway contract (#888)
  core/packages/test/.envrc-example
  core/packages/test/config/parachain-relay.json
  core/packages/test/scripts/set-env.sh
  core/packages/test/scripts/start-relayer.sh
  relayer/contracts/beefy_client.go
  relayer/contracts/gateway.go
  relayer/contracts/generate.go
  relayer/contracts/inbound_queue.go
  relayer/contracts/opaque_proof.go
  relayer/relays/parachain/config.go
  relayer/relays/parachain/ethereum-writer.go
  relayer/relays/parachain/logger.go
  relayer/relays/parachain/scanner.go
  relayer/relays/parachain/types.go
Due: none

Update .gitmodules
  .gitmodules
Due: none

remove xcm-builder
  parachain/pallets/control/Cargo.toml
Due: rust

completed implementation
  parachain/pallets/control/src/lib.rs
Due: rust

removed location conversion
  parachain/Cargo.lock
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
Due: rust

base
  parachain/Cargo.lock
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/control/src/weights.rs
Due: rust

use contains_key
  parachain/pallets/control/src/lib.rs
Due: rust

Fix openzeppelin-contracts submodule
  .gitmodules
Due: none

Create agent (#895)
  .gitmodules
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/control/src/weights.rs
Due: rust

Cleanup.
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

Switch from outbound queue to gateway
  core/packages/test/config/execution-relay.json
  core/packages/test/scripts/start-relayer.sh
  relayer/contracts/outbound_queue.go
  relayer/relays/execution/config.go
  relayer/relays/execution/main.go
Due: none

Label parachain relayer eth nonce as inbound
  relayer/relays/parachain/scanner.go
Due: none

Remove unused type
  relayer/relays/execution/config.go
Due: none

s/LaneID/ChannelID/g
  core/packages/test/config/execution-relay.json
  relayer/relays/execution/config.go
  relayer/relays/execution/main.go
Due: none

Fix error message
  relayer/relays/execution/main.go
Due: none

Adds one more test.
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

Move beefy initialize params to construct & revamp e2e scripts
  .gitignore
  core/packages/contracts/foundry.toml
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/scripts/generateBeefyCheckpoint.ts
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/src/DeployScript.sol
  core/packages/contracts/test/mocks/BeefyClientMock.sol
  core/packages/test/scripts/configure-beefy.sh
  core/packages/test/scripts/generate-beefy-checkpoint.sh
  core/packages/test/scripts/set-env.sh
  core/packages/test/scripts/start-services.sh
Due: solidity

Some polish
  core/packages/contracts/scripts/generateBeefyCheckpoint.ts
  core/packages/contracts/src/DeployScript.sol
Due: solidity

Update parachain for latest changes in contracts
  core/packages/contracts/.solhint.json
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/src/Types.sol
  core/packages/contracts/src/interfaces/IGateway.sol
  core/packages/contracts/test/Gateway.t.sol
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/lib.rs
  parachain/pallets/outbound-queue/src/benchmarking.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/test.rs
  parachain/primitives/core/src/lib.rs
  parachain/primitives/router/src/outbound/mod.rs
  parachain/primitives/router/src/outbound/payload.rs
Due: solidity, rust

Update relayer for onchain api changes
  relayer/contracts/beefy_client.go
  relayer/contracts/gateway.go
  relayer/relays/parachain/logger.go
  relayer/relays/parachain/types.go
Due: none

Move beefy initialize params to construct (#893)
  .gitignore
  core/packages/contracts/foundry.toml
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/scripts/generateBeefyCheckpoint.ts
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/src/DeployScript.sol
  core/packages/contracts/test/mocks/BeefyClientMock.sol
  core/packages/test/scripts/configure-beefy.sh
  core/packages/test/scripts/generate-beefy-checkpoint.sh
  core/packages/test/scripts/set-env.sh
  core/packages/test/scripts/start-services.sh
Due: solidity

Some polish
  .github/workflows/release.yml
  relayer/Dockerfile
Due: none

Update go tools
  flake.nix
  go.work
  go.work.sum
Due: none

Increase Beacon client code coverage (#894)
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

Adds impl tests.
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/ethereum-beacon-client/src/mock.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

Adds back comment.
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

Add channelId to log
  relayer/relays/execution/main.go
Due: none

Set up Eth -> Polkadot smoke test
  smoketest/src/parachains/mod.rs
  smoketest/tests/create_token.rs
  smoketest/tests/lock_tokens.rs
Due: none

Initialize inbound queue gateway
  core/packages/test/scripts/configure-bridgehub.sh
Due: none

Update comments & formatting
  core/packages/test/scripts/xcm-helper.sh
  smoketest/.gitignore
  smoketest/make-bindings.sh
Due: none

Update eth message format in inbound queue pallet
  parachain/pallets/inbound-queue/src/envelope.rs
Due: rust

initial
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
Due: rust

added tests
  parachain/Cargo.lock
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/control/src/tests.rs
Due: rust
