Repository Snowfork/snowbridge: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, rust

handle local accounts and pallets
  parachain/pallets/control/src/mock.rs
  parachain/pallets/control/src/tests.rs
Due: rust

SNO-566: Execution relayer watching for gateway messages (#897)
  core/packages/test/config/execution-relay.json
  core/packages/test/scripts/configure-bridgehub.sh
  core/packages/test/scripts/start-relayer.sh
  core/packages/test/scripts/xcm-helper.sh
  flake.nix
  go.work
  go.work.sum
  parachain/pallets/inbound-queue/src/envelope.rs
  relayer/contracts/beefy_client.go
  relayer/contracts/gateway.go
  relayer/contracts/outbound_queue.go
  relayer/relays/execution/config.go
  relayer/relays/execution/main.go
  relayer/relays/parachain/logger.go
  relayer/relays/parachain/scanner.go
  relayer/relays/parachain/types.go
  smoketest/.gitignore
  smoketest/make-bindings.sh
  smoketest/src/parachains/mod.rs
  smoketest/tests/create_token.rs
  smoketest/tests/lock_tokens.rs
Due: rust

improve API for sending tokens
  core/packages/contracts/src/Assets.sol
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/src/SubstrateTypes.sol
  core/packages/contracts/src/interfaces/IGateway.sol
  core/packages/contracts/src/storage/AssetsStorage.sol
  core/packages/contracts/test/Gateway.t.sol
  parachain/primitives/router/src/inbound/mod.rs
Due: solidity, rust

Create Agent (#899)
  parachain/Cargo.lock
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/control/src/tests.rs
Due: rust

improve pallets
  flake.lock
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/control/src/tests.rs
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/test.rs
  parachain/primitives/core/src/lib.rs
  parachain/primitives/router/src/inbound/mod.rs
  parachain/primitives/router/src/outbound/mod.rs
  smoketest/make-bindings.sh
  smoketest/tests/register_token.rs
  smoketest/tests/send_tokens.rs
Due: rust

Catching customized error reverted in solidity
  relayer/chain/ethereum/connection.go
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/main.go
  relayer/relays/execution/main.go
  relayer/relays/parachain/ethereum-writer.go
  relayer/relays/parachain/main.go
Due: none

Fix building error
  parachain/primitives/core/src/lib.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Improve error log
  relayer/chain/ethereum/connection.go
Due: none

Add format for rust codes
  .github/workflows/parachain.yml
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

Add workflow_dispatch for test
  .github/workflows/ethereum.yml
Due: none

Ignore file
  .gitignore
Due: none

Use github packages
  .github/workflows/release.yml
  relayer/Dockerfile
Due: none

Revert "Add format for rust codes"
  .github/workflows/parachain.yml
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

Tests for Verifier Impls (#898)
  parachain/pallets/ethereum-beacon-client/src/impls.rs
  parachain/pallets/ethereum-beacon-client/src/mock.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
Due: rust

update contract addresses
  smoketest/tests/create_token.rs
  smoketest/tests/lock_tokens.rs
Due: none

fix toml
  parachain/Cargo.lock
  parachain/primitives/router/Cargo.toml
Due: rust

rustfmt
  parachain/primitives/router/src/inbound/mod.rs
Due: rust

switch out implementation
  parachain/Cargo.lock
  parachain/primitives/router/Cargo.toml
  parachain/primitives/router/src/inbound/mod.rs
Due: rust

rust fmt
  parachain/primitives/router/src/inbound/mod.rs
Due: rust

use ok_or
  parachain/primitives/router/src/inbound/mod.rs
Due: rust

Update parachain/primitives/router/src/inbound/mod.rs
  parachain/primitives/router/src/inbound/mod.rs
Due: rust

Some polish
  relayer/Dockerfile
Due: none

Revert "Fix building error"
  parachain/primitives/core/src/lib.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Some polish
  relayer/chain/ethereum/connection.go
Due: none

Use hashed description (#884)
  parachain/Cargo.lock
  parachain/primitives/router/Cargo.toml
  parachain/primitives/router/src/inbound/mod.rs
  smoketest/tests/create_token.rs
  smoketest/tests/lock_tokens.rs
Due: rust

Update bindings in smoketests
  smoketest/make-bindings.sh
Due: none

Fix golang nonsense
  .gitignore
  flake.nix
  relayer/relays/beacon/header/syncer/sync_protocol_test.go
  relayer/relays/beacon/header/syncer/syncer_test.go
  relayer/relays/beefy/task_test.go
Due: none

Improve Beefy tests
  core/packages/contracts/.envrc-example
  core/packages/contracts/beefy-test-fixture.json
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/scripts/generateBeefyTestFixture.ts
  core/packages/contracts/scripts/helpers.ts
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Handle customized error (#900)
  relayer/chain/ethereum/connection.go
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/main.go
  relayer/relays/execution/main.go
  relayer/relays/parachain/ethereum-writer.go
  relayer/relays/parachain/main.go
Due: none

Update gas snapshot
  core/packages/contracts/.gas-snapshot
Due: solidity

fix gopath
  flake.nix
Due: none

fix unbound vars error in scripts
  core/packages/test/scripts/xcm-helper.sh
Due: none

Update inbound queue benchmarks.
  parachain/pallets/inbound-queue/src/benchmarking/fixtures.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
Due: rust

Path conditions:
  solidity: any of: core/packages/contracts, but not: core/packages/contracts/test/mocks, core/packages/contracts/src/utils, core/packages/contracts/src/ScaleCodec.sol, core/packages/contracts/src/SubstrateTypes.sol, parachain/tools, parachain/pallets/ethereum-beacon-client/src/benchmarking, parachain/pallets/ethereum-beacon-client/src/weights.rs, core/packages/contracts/src/DeployScript.sol
  rust: any of: parachain, but not: core/packages/contracts/test/mocks, core/packages/contracts/src/utils, core/packages/contracts/src/ScaleCodec.sol, core/packages/contracts/src/SubstrateTypes.sol, parachain/tools, parachain/pallets/ethereum-beacon-client/src/benchmarking, parachain/pallets/ethereum-beacon-client/src/weights.rs, core/packages/contracts/src/DeployScript.sol
