Repository Snowfork/snowbridge: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, rust

disable coverage PR checks (#870)
  codecov.yml
Due: none

Remove payload id & vec len from test data
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/data/beefy-commitment.json
Due: solidity

SNO-521: Check single validator signature in testSubmit* (#867)
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
  relayer/contracts/beefy_client.go
  relayer/relays/beefy/ethereum-writer.go
Due: solidity

pr feedback
  parachain/primitives/router/src/inbound/mod.rs
  smoketest/Cargo.toml
  smoketest/make-bindings.sh
  smoketest/tests/lock_tokens.rs
Due: rust

changed bridgehub para id to 1002
  core/packages/test/config/launch-config.toml
  core/packages/test/scripts/helpers/subscribeBeefyJustifications.js
  core/packages/test/scripts/set-env.sh
  parachain/pallets/control/src/mock.rs
  relayer/cmd/subscribe_beefy.go
Due: rust

Revert "changed bridgehub para id to 1002"
  core/packages/test/config/launch-config.toml
  core/packages/test/scripts/helpers/subscribeBeefyJustifications.js
  core/packages/test/scripts/set-env.sh
  parachain/pallets/control/src/mock.rs
  relayer/cmd/subscribe_beefy.go
Due: rust

Beacon types comments (#865)
  parachain/primitives/beacon/src/updates.rs
Due: rust

Pass Commitment struct to submitInitial*
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
  relayer/contracts/beefy_client.go
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/parameters.go
Due: solidity

SNO-519: Prevent collisions on mmrRootHash (#868)
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/data/beefy-commitment.json
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/parameters.go
Due: solidity

Rename task to request
  relayer/relays/beefy/request.go
Due: none

Move request methods next to request struct
  relayer/relays/beefy/parameters.go
  relayer/relays/beefy/request.go
Due: none

Create token implementation (#846)
  core/packages/test/config/launch-config.toml
  parachain/Cargo.lock
  parachain/primitives/core/Cargo.toml
  parachain/primitives/router/Cargo.toml
  parachain/primitives/router/src/inbound/mod.rs
  parachain/tools/call-index/src/main.rs
  smoketest/Cargo.toml
  smoketest/tests/lock_tokens.rs
Due: rust

fixed tests
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

removed more network checks
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

fmt
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

allow none locations
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

fixed tests to pass None as account key network
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

partial
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

rustfmt
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

fixed asset resolution
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

parse new xcm format
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

rename
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

use locations
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

fix test
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

increase coverage
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

fix coverage
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

covering tests
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

more coverage
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

more fixes
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

coverage
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

return correct error
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

Path conditions:
  solidity: any of: core/packages/contracts, but not: core/packages/contracts/test/mocks, core/packages/contracts/src/utils, core/packages/contracts/src/ScaleCodec.sol, core/packages/contracts/src/SubstrateTypes.sol, parachain/tools, parachain/pallets/ethereum-beacon-client/src/benchmarking, parachain/pallets/ethereum-beacon-client/src/weights.rs, core/packages/contracts/src/DeployScript.sol
  rust: any of: parachain, but not: core/packages/contracts/test/mocks, core/packages/contracts/src/utils, core/packages/contracts/src/ScaleCodec.sol, core/packages/contracts/src/SubstrateTypes.sol, parachain/tools, parachain/pallets/ethereum-beacon-client/src/benchmarking, parachain/pallets/ethereum-beacon-client/src/weights.rs, core/packages/contracts/src/DeployScript.sol
