Repository Snowfork/snowbridge: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, rust

Simplify code.
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
Due: rust

Fix benchmark test.
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
Due: rust

Split test fixture
  core/packages/contracts/foundry.toml
  core/packages/contracts/scripts/generateBeefyTestFixture.ts
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/data/beefy-validator-proof.json
  core/packages/contracts/test/data/beefy-validator-set.json
Due: solidity

Update snapshot
  core/packages/contracts/.gas-snapshot
Due: solidity

Decode mmr leaf from commitment file
  core/packages/contracts/.gas-snapshot
  core/packages/contracts/scripts/generateBeefyTestFixture.ts
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/data/beefy-commitment.json
  core/packages/contracts/test/data/beefy-validator-set.json
Due: solidity

Regenerate final bitField
  core/packages/contracts/foundry.toml
  core/packages/contracts/scripts/generateBeefyTestFixture.ts
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/data/beefy-final-bitfield.json
  core/packages/contracts/test/data/beefy-final-proof.json
Due: solidity

Cleans up test.
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
Due: rust

Update inbound queue benchmarks. (#902)
  parachain/pallets/inbound-queue/src/benchmarking/fixtures.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
Due: rust

remove duplicate openzeppelin submodule
  .gitmodules
Due: none

Update foundry remove ffi
  core/packages/contracts/foundry.toml
  core/packages/contracts/test/data/beefy-commitment.json
Due: solidity

Update test remove hardcode check
  core/packages/contracts/.envrc-example
  core/packages/contracts/foundry.toml
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Fix message submit.
  relayer/relays/execution/main.go
Due: none

Improve beefy tests (#901)
  core/packages/contracts/.envrc-example
  core/packages/contracts/.gas-snapshot
  core/packages/contracts/foundry.toml
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/scripts/generateBeefyTestFixture.ts
  core/packages/contracts/scripts/helpers.ts
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/data/beefy-final-bitfield.json
  core/packages/contracts/test/data/beefy-final-proof.json
  core/packages/contracts/test/data/beefy-validator-set.json
Due: solidity

Fix execution relay
  core/packages/test/config/genesis.json
  relayer/chain/ethereum/message.go
  relayer/chain/parachain/writer.go
  relayer/relays/execution/main.go
Due: none

Revert "Use hashed description (#884)"
  parachain/Cargo.lock
  parachain/primitives/router/Cargo.toml
  parachain/primitives/router/src/inbound/mod.rs
  smoketest/tests/create_token.rs
  smoketest/tests/lock_tokens.rs
Due: rust

Revert "Use hashed description (#884)" (#906)
  parachain/Cargo.lock
  parachain/primitives/router/Cargo.toml
  parachain/primitives/router/src/inbound/mod.rs
  smoketest/tests/create_token.rs
  smoketest/tests/lock_tokens.rs
Due: rust

Improve documentation of code comments
  core/packages/contracts/src/Agent.sol
  core/packages/contracts/src/AgentExecutor.sol
  core/packages/contracts/src/Assets.sol
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/src/GatewayProxy.sol
  core/packages/contracts/src/Types.sol
  core/packages/contracts/src/Verification.sol
Due: solidity

Fix execution relay (#905)
  core/packages/test/config/genesis.json
  relayer/chain/ethereum/message.go
  relayer/chain/parachain/writer.go
  relayer/relays/execution/main.go
Due: none

Revert "create agents on initialize"
  core/packages/contracts/src/Gateway.sol
Due: solidity

update gateway to registry
  core/packages/test/scripts/set-env.sh
  parachain/primitives/router/src/inbound/mod.rs
Due: rust

use address(this)
  core/packages/contracts/src/Assets.sol
  core/packages/contracts/src/Gateway.sol
Due: solidity

fmt
  core/packages/contracts/src/Gateway.sol
Due: solidity

create agents on initialize
  core/packages/contracts/src/Gateway.sol
Due: solidity

make agents relative to the relaychain
  parachain/Cargo.lock
  parachain/pallets/control/Cargo.toml
  parachain/pallets/control/src/lib.rs
  parachain/pallets/control/src/mock.rs
  parachain/pallets/control/src/tests.rs
  parachain/pallets/inbound-queue/src/benchmarking/mod.rs
  parachain/primitives/router/Cargo.toml
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

log out reciept and drop sent amount
  smoketest/tests/send_tokens.rs
Due: none

update agents and fix abi encode
  core/packages/test/scripts/set-env.sh
  parachain/primitives/core/src/lib.rs
Due: rust

use real agent ids
  core/packages/test/scripts/set-env.sh
  parachain/primitives/router/src/outbound/mod.rs
Due: rust

fixed test
  core/packages/contracts/src/Assets.sol
  core/packages/contracts/src/Gateway.sol
  core/packages/test/scripts/configure-bridgehub.sh
  core/packages/test/scripts/set-env.sh
  smoketest/tests/register_token.rs
  smoketest/tests/send_tokens.rs
Due: solidity

Make core/contracts js independent
  core/packages/api/package.json
  core/packages/api/src/index.ts
  core/packages/contract-types/.editorconfig
  core/packages/contract-types/.gitignore
  core/packages/contract-types/README.md
  core/packages/contract-types/package.json
  core/packages/contracts/.mocharc.json
  core/packages/contracts/package.json
  core/packages/contracts/scripts/generateContractInfo.js
  core/packages/test-helpers/.editorconfig
  core/packages/test-helpers/.eslintrc.json
  core/packages/test-helpers/.gitignore
  core/packages/test-helpers/.prettierrc
  core/packages/test-helpers/README.md
  core/packages/test-helpers/package.json
  core/packages/test-helpers/src/generateBeefyCheckpoint.ts
  core/packages/test-helpers/src/generateBeefyTestFixture.ts
  core/packages/test-helpers/src/generateContractInfo.ts
  core/packages/test-helpers/src/helpers.ts
  core/packages/test-helpers/src/wallets.ts
  core/packages/test-helpers/tsconfig.json
  core/packages/test/scripts/deploy-contracts.sh
  core/packages/test/scripts/generate-beefy-checkpoint.sh
  core/packages/test/scripts/set-env.sh
  core/pnpm-lock.yaml
  core/pnpm-workspace.yaml
Due: solidity

encode with enum
  core/packages/contracts/src/AgentExecutor.sol
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/src/Types.sol
  parachain/primitives/core/src/lib.rs
  parachain/primitives/router/src/outbound/mod.rs
Due: solidity, rust

fmt
  core/packages/contracts/src/AgentExecutor.sol
  core/packages/contracts/src/Types.sol
Due: solidity

Order methods by expected use
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

Check vset len on ticket against relevant vset len
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

Sort errors
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

Add mocked tests
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/mocks/BeefyClientMock.sol
Due: solidity

Swap final length checks for initial id checks
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Path conditions:
  solidity: any of: core/packages/contracts, but not: core/packages/contracts/test/mocks, core/packages/contracts/src/utils, core/packages/contracts/src/ScaleCodec.sol, core/packages/contracts/src/SubstrateTypes.sol, parachain/tools, parachain/pallets/ethereum-beacon-client/src/benchmarking, parachain/pallets/ethereum-beacon-client/src/weights.rs, core/packages/contracts/src/DeployScript.sol
  rust: any of: parachain, but not: core/packages/contracts/test/mocks, core/packages/contracts/src/utils, core/packages/contracts/src/ScaleCodec.sol, core/packages/contracts/src/SubstrateTypes.sol, parachain/tools, parachain/pallets/ethereum-beacon-client/src/benchmarking, parachain/pallets/ethereum-beacon-client/src/weights.rs, core/packages/contracts/src/DeployScript.sol
