Repository Snowfork/snowbridge: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, rust

codecov.yml:

coverage:
  status:
    project: off
    patch: off
github_checks:
    annotations: false
ignore:
  - "core/packages/contracts/test/mocks"
  - "core/packages/contracts/src/utils"
  - "core/packages/contracts/src/ScaleCodec.sol"
  - "core/packages/contracts/src/SubstrateTypes.sol"
  - "parachain/tools"
  - "parachain/pallets/ethereum-beacon-client/src/benchmarking"
  - "parachain/pallets/ethereum-beacon-client/src/weights.rs"
  - "core/packages/contracts/src/DeployScript.sol"
flags:
  solidity:
    paths:
      - core/packages/contracts
    carryforward: true
  rust:
    paths:
      - parachain
    carryforward: true

ws
  core/packages/test/scripts/set-env.sh
  core/packages/test/scripts/start-services.sh
Due: none

moved to configure bridgehub step
  core/packages/test/scripts/configure-bridgehub.sh
  core/packages/test/scripts/start-services.sh
Due: none

Resolve comments
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/src/utils/Bitfield.sol
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Revert Info-9(countSetBits)
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/src/utils/Bitfield.sol
Due: solidity

Revert RANDAO_COMMIT_DELAY for quick test
  core/packages/test/scripts/set-env.sh
Due: none

fund accounts before configuring beacon
  core/packages/test/scripts/configure-bridgehub.sh
Due: none

Revert some refactoring
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

Remove hardcoded accounts (#878)
  core/packages/test/scripts/configure-bridgehub.sh
  core/packages/test/scripts/set-env.sh
  core/packages/test/scripts/start-services.sh
  core/packages/test/scripts/xcm-helper.sh
Due: none

Fix!
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

Fix non handover case
  relayer/relays/beefy/polkadot-listener.go
Due: none

Ensure use same initial bitfield for createFinalBitfield
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

More tests
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/mocks/BeefyClientMock.sol
Due: solidity

Fix beefy relayer
  core/packages/test/config/launch-config.toml
  relayer/relays/beefy/polkadot-listener.go
Due: none

More tests & change beefy log level
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/test/config/launch-config.toml
Due: solidity

Fix missing check and more tests
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

More comments
  core/packages/test/scripts/set-env.sh
Due: none

Add more assert
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

More tests
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

s/encodePayload/encodeCommitmentPayload/
  core/packages/contracts/src/BeefyClient.sol
Due: solidity

Improve log format for bitfield & payloadID
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/fixture-data-logger.go
  relayer/relays/beefy/parameters.go
Due: none

SNO-536: Pass full commitment to submitInitial (#872)
  core/packages/contracts/.gas-snapshot
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/data/beefy-commitment.json
  relayer/contracts/beefy_client.go
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/fixture-data-logger.go
  relayer/relays/beefy/parameters.go
  relayer/relays/beefy/polkadot-listener.go
Due: solidity

Some polish
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Improve test remove storage variable
  core/packages/contracts/test/BeefyClient.t.sol
Due: solidity

Reset RANDAO params
  core/packages/test/.envrc-example
  core/packages/test/scripts/set-env.sh
Due: none

Post-audit fixes for beefy light client (#877)
  core/packages/contracts/.gas-snapshot
  core/packages/contracts/scripts/ffiWrapper.ts
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/src/utils/Bitfield.sol
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/contracts/test/mocks/BeefyClientMock.sol
  core/packages/test/.envrc-example
  core/packages/test/config/launch-config.toml
  core/packages/test/scripts/set-env.sh
  relayer/relays/beefy/polkadot-listener.go
Due: solidity

Distinct validator for submitInitial
  core/packages/contracts/src/BeefyClient.sol
  core/packages/contracts/test/BeefyClient.t.sol
  core/packages/test/config/launch-config.toml
  relayer/relays/beefy/ethereum-writer.go
Due: solidity

Release relay binary
  .github/workflows/release.yml
Due: none

Upgrade ssz_rs crate.
  parachain/Cargo.lock
  parachain/pallets/ethereum-beacon-client/Cargo.toml
Due: rust

foo
  .husky/pre-commit
  core/packages/contracts/.solhint.json
  core/packages/contracts/DeployScript.sol
  core/packages/contracts/foundry.toml
  core/packages/contracts/src/Agent.sol
  core/packages/contracts/src/EternalStorage.sol
  core/packages/contracts/src/Executor.sol
  core/packages/contracts/src/ExecutorTypes.sol
  core/packages/contracts/src/Gateway.sol
  core/packages/contracts/src/IExecutor.sol
  core/packages/contracts/src/IOutboundQueue.sol
  core/packages/contracts/src/IRecipient.sol
  core/packages/contracts/src/InboundExecutor.sol
  core/packages/contracts/src/InboundQueue.sol
  core/packages/contracts/src/NativeTokens.sol
  core/packages/contracts/src/OutboundExecutor.sol
  core/packages/contracts/src/TokenVault.sol
  core/packages/contracts/src/Withdraw.sol
  core/packages/contracts/test/InboundQueue.t.sol
Due: solidity

Release docker image
  .dockerignore
  .github/workflows/release.yml
  core/packages/contracts/scripts/configure-beefy.ts
  core/packages/test/.envrc-example
  core/packages/test/.gitignore
  core/packages/test/docker-compose.yml
  core/packages/test/scripts/deploy-ethereum.sh
  core/packages/test/scripts/start-relayer.sh
  relayer/Dockerfile
Due: solidity

Upgrade ssz_rs crate.
  parachain/Cargo.lock
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/beacon/Cargo.toml
  parachain/primitives/beacon/src/ssz.rs
  parachain/primitives/beacon/src/types.rs
Due: rust

fix solhint
  core/packages/contracts/.solhint.json
Due: solidity

fix merge conflict
  core/packages/test/scripts/set-env.sh
  parachain/pallets/inbound-queue/src/lib.rs
Due: rust

Halting & resuming bridge pallets
  core/packages/test/.env
  parachain/Cargo.lock
  parachain/pallets/control/src/benchmarking.rs
  parachain/pallets/control/src/lib.rs
  parachain/pallets/ethereum-beacon-client/Cargo.toml
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/inbound-queue/Cargo.toml
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/inbound-queue/src/test.rs
  parachain/pallets/outbound-queue/Cargo.toml
  parachain/pallets/outbound-queue/src/lib.rs
  parachain/primitives/core/src/lib.rs
Due: rust

Ignore .env
  core/packages/test/.gitignore
Due: none

Remove .env
  core/packages/test/.env
Due: none

Some polish
  parachain/pallets/ethereum-beacon-client/src/lib.rs
Due: rust

Set owner of bridge pallets
  core/packages/test/.envrc-example
  core/packages/test/scripts/configure-bridgehub.sh
  core/packages/test/scripts/set-env.sh
  core/packages/test/scripts/xcm-helper.sh
  parachain/pallets/inbound-queue/src/lib.rs
  parachain/pallets/outbound-queue/src/lib.rs
Due: rust
